<app-dropdown-menu
  [menuItems]="themeOptions()"
  [activeItem]="themeOption()"
  (select)="setTheme($event.id)"
>
  <ng-content ngProjectAs="activator">
    <div #activator>
      <app-icon
        [iconName]="theme() === 'light' ? 'day' : 'night'"
        size="16"
        class="text-color-primary"
      />
    </div>
  </ng-content>
</app-dropdown-menu>

<ng-template #icon>
  <app-icon iconName="day" size="16" />
</ng-template>
<ng-template #icon>
  <app-icon iconName="night" size="16" />
</ng-template>
<ng-template #icon>
  <app-icon iconName="computer" size="16" />
</ng-template>
