<button
  [type]="type()"
  class="hover:brightness-110 ripple"
  [ngClass]="[
    {
      primary: 'bg-color-primary text-white border border-color-primary',
      secondary: 'text-color-primary border border-color-primary',
      tertiary: 'text-color-primary font-bold',
    }[styleType()],
    { small: 'text-sm', medium: 'text-md', large: 'text-lg' }[size()],
    { true: 'cursor-not-allowed opacity-50', false: '' }[disabled() ? 'true' : 'false'],
    { true: 'rounded-full', false: 'rounded-md' }[iconOnly() ? 'true' : 'false'],
    !iconOnly() ? { small: 'py-1 px-2', medium: 'py-2 px-3', large: 'py-3 px-4' }[size()] : '',
  ]"
>
  <div class="flex items-center">
    @if (icon()) {
      <app-icon
        [iconName]="icon()!"
        [size]="iconSize()"
        [color]="iconColor()"
        [class]="!iconOnly() ? [{ small: 'mr-1', medium: 'mr-2', large: 'mr-3' }[size()]] : []"
      />
    }
    <ng-content />
  </div>
</button>
