<div #dropdownMenu class="relative">
  <button #toggleButton (click)="toggleMenuOpen($event, !isMenuOpen())">
    @if (activatorTitle()) {
      {{ activatorTitle() }}
    } @else {
      <ng-content select="activator" />
    }
  </button>
  <menu
    #menu
    class="absolute right-0 top-8 z-10 shadow-md"
    [class]="[isMenuOpen() ? 'block' : 'hidden']"
  >
    <app-card class="[&>*>*]:p-0 [&>*>*]:py-1">
      @for (menuItem of menuItems(); track $index) {
        <li
          class="hover:bg-blue-200 hover:bg-opacity-30"
          [class]="{
            'bg-blue-200 bg-opacity-30': activeItem() === menuItem,
          }"
        >
          <button
            class="flex items-center w-full h-full py-1 px-3"
            (click)="selectMenuItem($event, menuItem)"
          >
            @if (menuItem.icon) {
              <app-icon
                [iconName]="menuItem.icon.name"
                [size]="menuItem.icon.size ?? '16'"
                [color]="menuItem.icon.color ?? 'currentcolor'"
                class="me-2"
              />
            }
            {{ menuItem.label }}
          </button>
        </li>
      }
    </app-card>
  </menu>
</div>
