<section id="skills" class="flex flex-col items-center pb-36">
  <h2 i18n class="pb-12">Skills</h2>
  <div class="flex flex-wrap gap-4 mt-4 justify-center">
    @for (skill of skills; track $index) {
      <app-card class="max-w-prose flex-grow w-full md:w-1/3 xl:w-1/4">
        <div class="flex items-center h-12">
          <app-icon
            [iconName]="skill.icon"
            size="38"
            [class]="[theme() === 'light' ? 'text-black' : 'text-white']"
          />
          <h3 class="font-bold ml-4">{{ skill.title }}</h3>
        </div>
        <p>{{ skill.description }}</p>
      </app-card>
    }
  </div>
</section>
