<section id="skills" class="flex flex-col items-center pb-24">
  <h2 i18n class="pb-12">Skills</h2>
  <div class="flex flex-wrap gap-6 mt-4 justify-center">
    @for (skill of skills; track $index) {
      <app-card
        class="max-w-xl flex-grow w-full lg:w-1/3 xl:w-1/4 [&>*]:shadow-lg"
        [class]="{
          '[&>*]:shadow-stone-400': theme() === 'light',
          '[&>*]:shadow-slate-800': theme() === 'dark',
        }"
      >
        <div class="flex items-center h-12">
          <app-icon
            [iconName]="skill.icon"
            size="38"
            [class]="{
              'text-gray-200': theme() === 'dark',
            }"
          />
          <h3 class="font-bold ml-4">{{ skill.title }}</h3>
        </div>
        <p>{{ skill.description }}</p>
      </app-card>
    }
  </div>
</section>
