.skills {
  :first-child,
  :nth-child(2),
  :nth-child(3),
  :nth-child(4),
  :nth-child(5) {
    transform: translateX(-10%);
    filter: blur(2px);
    opacity: 0;
  }
  :first-child {
    transition: all 0.3s 0.25s ease-in;
  }
  :nth-child(2) {
    transition: all 0.3s 0.4s ease-in;
  }
  :nth-child(3) {
    transition: all 0.3s 0.55s ease-in;
  }
  :nth-child(4) {
    transition: all 0.3s 0.7s ease-in;
  }
  :nth-child(5) {
    transition: all 0.3s 0.95s ease-in;
  }
}

.show {
  :first-child,
  :nth-child(2),
  :nth-child(3),
  :nth-child(4),
  :nth-child(5) {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  :first-child,
  :nth-child(2),
  :nth-child(3),
  :nth-child(4),
  :nth-child(5) {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}
