<div class="relative pb-5">
  <input
    [value]="value()"
    [type]="type()"
    [placeholder]="placeholder()"
    class="w-full rounded-md bg-bg-color p-2 border"
    [class]="{
      'bg-bg-color': theme() === 'light',
      'bg-gray-100': theme() === 'dark',
      'text-black': theme() === 'dark',
      'border-border-color': !error(),
      outline: error(),
      'outline-red-500': error(),
      'outline-2': error(),
    }"
    (input)="onInput($event)"
  />
  @if (error()) {
    <div class="absolute bottom-0 text-red-500 text-sm mt-1">{{ error() }}</div>
  }
</div>
