<main>
  <app-top-bar class="topbar" />
  <app-landing />
  <app-layered-peaks-1 class="layered-peaks-spacer" />
  <app-about-me />
  <app-experience />
  <app-layered-peaks-2 class="layered-peaks-spacer" />
  <app-skills />
  <app-tech-stack />
  <app-layered-peaks-3 class="layered-peaks-spacer" />
  <app-contact />
  <app-notification />
  <footer>
    <p
      class="flex justify-center py-4 text-gray-200 dark:text-gray-300"
      i18n
      [style.background-color]="backgroundColor()"
    >
      SIRET: 922 030 010 00016 – Registered in France
    </p>
  </footer>
</main>
