<nav
  class="flex py-3 px-6 items-center sticky top-0 backdrop-blur-2xl border-b border-border-color"
>
  <div class="grow">
    <button (click)="scrollTo('#landing')">
      <img #logo ngSrc="rubix-logo.svg" i18n-alt alt="logo" width="24" height="24" />
    </button>
  </div>
  @if (!isMobile()) {
    <menu class="flex">
      @for (selectorItem of selectorItems; track $index) {
        <li class="font-semibold">
          <button (click)="scrollTo(selectorItem.selector)" class="ripple py-1 px-4">
            <h5 class="hover:text-color-primary">{{ selectorItem.label }}</h5>
          </button>
        </li>
      }
    </menu>
    <div class="ml-5 mr-8 border-l border-border-color h-7"></div>
  }
  <app-theme-select class="mt-1" />
  <app-language-select class="ml-8" />
  @if (isMobile()) {
    <app-hamburger-menu
      [selectorItems]="selectorItems"
      class="mt-1 ml-8"
      (goTo)="scrollTo($event.selector)"
    />
  }
</nav>
