<nav class="flex px-2 items-center">
  <div class="grow">
    <img src="rubix-logo.svg" alt="logo" class="w-10 h-10" />
  </div>
  @if (!display.isMobile()) {
    <menu class="flex">
      @for (selectorItem of selectorItems; track $index) {
        <li class="py-1 px-4 hover:text-blue-800">
          <button (click)="scrollTo(selectorItem)">{{ selectorItem.label }}</button>
        </li>
      }
    </menu>
    <div class="mx-4">|</div>
  }
  <app-theme-select />
  <app-language-select class="ml-4" />
  @if (display.isMobile()) {
    <app-hamburger-menu [selectorItems]="selectorItems" class="ml-4" (goTo)="scrollTo($event)" />
  }
</nav>
