<section
  id="contact"
  class="flex flex-col items-center pt-8 pb-16"
  [style.background-color]="backgroundColor()"
>
  <form [formGroup]="form" class="flex flex-col" (ngSubmit)="onSubmit()">
    @if (isMobile()) {
      <ng-container [ngTemplateOutlet]="contactInfo" />
    }
    <div class="flex">
      @if (!isMobile()) {
        <ng-container [ngTemplateOutlet]="contactInfo" />
      }
      <div>
        <div class="flex mb-3">
          <app-input
            formControlName="firstName"
            type="text"
            [error]="errorBag().firstName"
            i18n-placeholder
            placeholder="First Name *"
            class="me-4"
          />
          <app-input
            formControlName="lastName"
            type="text"
            [error]="errorBag().lastName"
            i18n-placeholder
            placeholder="Last Name *"
          />
        </div>
        <div class="flex mb-3">
          <app-input
            formControlName="phone"
            type="tel"
            [error]="errorBag().phone"
            i18n-placeholder
            placeholder="Phone"
            class="me-4"
          />
          <app-input
            formControlName="company"
            type="text"
            [error]="errorBag().company"
            i18n-placeholder
            placeholder="Company"
          />
        </div>
        <div class="flex mb-3">
          <app-input
            formControlName="email"
            type="email"
            [error]="errorBag().email"
            i18n-placeholder
            placeholder="Email *"
            class="me-4"
          />
          <app-input
            formControlName="subject"
            type="text"
            [error]="errorBag().subject"
            i18n-placeholder
            placeholder="Subject *"
          />
        </div>
      </div>
    </div>
    <app-text-area
      formControlName="message"
      [error]="errorBag().message"
      i18n-placeholder
      placeholder="Message*"
      class="h-60 mb-3"
    ></app-text-area>
    <div class="flex justify-end items-center">
      <input type="text" formControlName="honey" hidden />
      @if (submitDisabled()) {
        <app-tooltip location="left">
          <ng-container activator [ngTemplateOutlet]="submitButton" />
          <span i18n>Fill out the required fields</span>
        </app-tooltip>
      } @else {
        <ng-container [ngTemplateOutlet]="submitButton" />
      }
    </div>
  </form>
</section>

<ng-template #contactInfo>
  <div class="flex md:flex-col max-md:justify-between text-gray-300 pb-8 md:pb-0 pr-12 pt-0">
    <ul>
      <li class="cv max-md:pt-1 pb-2 flex items-center">
        <app-button styleType="secondary" icon="cv" (click)="downloadCV()">
          <span i18n>Download</span>&nbsp;<span i18n class="font-bold">CV</span>
        </app-button>
      </li>
      <li class="contact-link py-3">
        <a href="tel:+33688518384">
          <div class="flex items-center">
            <app-icon iconName="phone" class="me-4" /><span i18n> +33 6 88 51 83 84</span>
          </div>
        </a>
      </li>
    </ul>
    <ul>
      <li class="contact-link py-3">
        <a href="https://github.com/AlexanderHalsey" target="_blank">
          <div class="flex items-center">
            <app-icon iconName="github" size="26" class="me-4" /><span i18n> Github</span>
          </div>
        </a>
      </li>
      <li class="contact-link py-3">
        <a href="https://www.linkedin.com/in/alexander-halsey-01a13125b/" target="_blank">
          <div class="flex items-center">
            <app-icon iconName="linkedin" size="28" class="me-4" /><span i18n> LinkedIn</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #submitButton>
  <app-button
    i18n
    [icon]="formLoading() ? 'loader' : 'send'"
    type="submit"
    [disabled]="submitDisabled()"
  >
    Send
  </app-button>
</ng-template>
