<div class="flex flex-col">
  <div class="mb-4">
    <input type="text" i18n-placeholder placeholder="First Name" required class="me-2" />
    <input type="text" i18n-placeholder placeholder="Last Name" required />
  </div>
  <div class="mb-4">
    <input type="tel" i18n-placeholder placeholder="Phone" class="me-2" />
    <input type="text" i18n-placeholder placeholder="Company" />
  </div>
  <input type="email" i18n-placeholder placeholder="Email" required class="mb-4" />
  <input type="text" i18n-placeholder placeholder="Subject" required class="mb-4" />
  <textarea i18n-placeholder placeholder="Message" required class="h-40 mb-4"></textarea>
  <input type="file" i18n-placeholder placeholder="Attach File" class="mb-4" />
  <button i18n>Send</button>
</div>
