<ul>
  <li>
    <a href="tel:+33688518384"
      ><div class="flex items-center">
        <app-phone-icon color="#ffffff" class="me-2" />+33 6 88 51 83 84
      </div></a
    >
  </li>
  <li class="mt-2">
    <div class="flex">
      <a href="https://github.com/AlexanderHalsey" target="_blank" class="me-2">
        <app-github-icon color="#ffffff" />
      </a>
      <a href="https://www.linkedin.com/in/alexander-halsey-01a13125b/" target="_blank">
        <app-linkedin-icon color="#ffffff" />
      </a>
    </div>
  </li>
</ul>
