.tech-stack-bar {
  &:hover {
    animation-play-state: paused;
  }
}
@media (max-width: 768px) {
  .tech-stack-bar {
    animation: scrollStackVertical 450s linear infinite;
  }
}
@media (min-width: 769px) {
  .tech-stack-bar {
    animation: scrollStackHorizontal 500s linear infinite;
  }
}
#tech-stack {
  :nth-child(2) > * > .tech-stack-bar {
    animation-direction: reverse;
  }
}
@keyframes scrollStackHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollStackVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (prefers-reduced-motion) {
  .tech-stack-bar {
    animation: none;
  }
}
