<section
  id="tech-stack"
  class="flex md:flex-col items-center justify-center gap-6 sm:gap-10 md:gap-16 py-24"
>
  @for (techStackGroup of techStackGroups(); track $index) {
    <div
      class="flex max-md:flex-col justify-center items-center md:w-full md:overflow-x-hidden max-md:overflow-y-hidden shadow-lg bg-bg-color dark:bg-gray-800 shadow-stone-400 dark:shadow-slate-800 rounded-md"
      [class]="'tech-stack-item-' + $index"
    >
      <div class="md:w-full max-md:h-[48rem] flex max-md:flex-col">
        <div
          class="tech-stack-bar relative max-md:h-[142rem] md:w-[150rem] md:ms-7 flex max-md:flex-col md:py-14 max-md:px-6 md:right-[-1rem] max-md:bottom-[-1rem]"
          [class]="$index % 2 === 0 ? 'max-md:mt-5' : 'max-md:mt-[47rem]'"
        >
          @for (techStackItem of techStackGroup; track $index) {
            <app-tooltip location="bottom" class="md:me-[6.5rem] max-md:mb-[3rem]">
              <app-icon
                activator
                [iconName]="techStackItem.icon"
                [size]="isMobile() ? '55' : '70'"
                color="gray"
                [animateOnHover]="techStackItem.hovered"
                (mouseover)="techStackItem.hovered = true"
                (focus)="techStackItem.hovered = true"
                (mouseout)="techStackItem.hovered = false"
                (blur)="techStackItem.hovered = false"
              />
              <span>{{ techStackItem.name }}</span>
            </app-tooltip>
          }
        </div>
      </div>
    </div>
  }
</section>
