<section id="tech-stack" class="flex flex-col items-center gap-16 pb-24">
  @for (techStackGroup of techStackGroups(); track $index) {
    <div
      class="flex justify-center w-full border-y border-border-color shadow-lg"
      [class]="{
        'bg-bg-color': theme() === 'light',
        'shadow-stone-400': theme() === 'light',
        'bg-gray-800': theme() === 'dark',
        'shadow-slate-800': theme() === 'dark',
      }"
    >
      <div
        class="w-8 bg-gradient-to-r"
        [class]="{
          'from-neutral-300': theme() === 'light',
          'to-bg-color': theme() === 'light',
          'from-gray-700': theme() === 'dark',
          'to-gray-800': theme() === 'dark',
        }"
      ></div>
      <div class="w-full flex justify-center">
        <div class="w-[95%] flex justify-between py-8">
          @for (techStackItem of techStackGroup; track $index) {
            <app-icon
              [iconName]="techStackItem"
              size="70"
              [animateOnHover]="hoveredIcon() === techStackItem"
              (mouseover)="setHoveredIcon(techStackItem)"
              (focus)="setHoveredIcon(techStackItem)"
              (mouseout)="removeHoveredIcon(techStackItem)"
              (blur)="removeHoveredIcon(techStackItem)"
            />
          }
        </div>
      </div>
      <div
        class="w-8 bg-gradient-to-l"
        [class]="{
          'from-neutral-300': theme() === 'light',
          'to-bg-color': theme() === 'light',
          'from-gray-700': theme() === 'dark',
          'to-bg-gray-800': theme() === 'dark',
        }"
      ></div>
    </div>
  }
</section>
