<section id="tech-stack" class="flex flex-col items-center gap-16 py-24">
  @for (techStackGroup of techStackGroups(); track $index) {
    <div
      class="flex justify-center w-full overflow-x-hidden border-y border-border-color shadow-lg bg-bg-color dark:bg-gray-800 shadow-stone-400 dark:shadow-slate-800"
      [class]="'tech-stack-item-' + $index"
    >
      <div class="sticky left-0 bg-gradient-to-l from-transparent to-stone-200 dark:to-gray-900">
        <div class="w-12"></div>
      </div>
      <div class="w-full flex">
        <div class="tech-stack-bar relative w-[150rem] ms-7 flex py-14 right-[-1rem]">
          @for (techStackItem of techStackGroup; track $index) {
            <app-tooltip location="bottom" class="me-[6.5rem]">
              <app-icon
                activator
                [iconName]="techStackItem.icon"
                size="70"
                color="gray"
                [animateOnHover]="techStackItem.hovered"
                (mouseover)="techStackItem.hovered = true"
                (focus)="techStackItem.hovered = true"
                (mouseout)="techStackItem.hovered = false"
                (blur)="techStackItem.hovered = false"
              />
              <span>{{ techStackItem.name }}</span>
            </app-tooltip>
          }
        </div>
      </div>
      <div class="sticky right-0 bg-gradient-to-r from-transparent to-stone-200 dark:to-gray-900">
        <div class="w-12"></div>
      </div>
    </div>
  }
</section>
