.timeline-item-content,
.timeline-item-delineator {
  opacity: 0;
}
.timeline-item-content {
  transform: scale(0.95);
  transition: all 0.6s ease-in-out;
}
.timeline-item-delineator {
  transform: translateX(-25%);
  transition: all 0.7s 0.2s ease-in-out;
}

.show {
  .timeline-item-content,
  .timeline-item-delineator {
    opacity: 1;
  }
  .timeline-item-content {
    transform: scale(1);
  }
  .timeline-item-delineator {
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion) {
  .timeline-item-content,
  .timeline-item-delineator {
    opacity: 1;
  }
  .timeline-item-content {
    transform: none;
  }
  .timeline-item-delineator {
    transform: none;
  }
}
