<div class="relative">
  @for (item of items(); track $index) {
    <div
      class="flex timeline-item show justify-center"
      [class]="{
        'mb-8': $index !== items.length - 1,
        'mt-8': $index !== 0,
      }"
    >
      <div
        class="relative flex flex-col items-end w-8 md:w-56 text-gray-300 dark:text-gray-400"
        [class]="[isDateRange(item) ? 'pt-6' : '']"
      >
        <!-- icon and title delineating start of new item -->
        <div
          class="timeline-item-delineator absolute flex gap-2 z-[1] max-md:left-[0.3rem] md:right-[-3.7rem]"
          [class]="[isMilestone(item) ? 'bottom-[4.5rem]' : '']"
        >
          @if (!isMobile()) {
            <ng-container
              [ngTemplateOutlet]="timelineEvent"
              [ngTemplateOutletContext]="{ $implicit: item }"
            />
          }
          <app-icon class="rounded-full" iconName="arrow-right" />
        </div>
        <!-- timeline line connecting events -->
        <div
          class="timeline-item-line absolute bottom-4 border-l-2 border-border-color max-md:left-4 md:right-[-3rem]"
          [class]="{
            'h-[calc(100%-1.25rem)]': $index === 0,
            'h-[calc(100%+4rem)]': $index !== 0,
          }"
        ></div>
      </div>

      <div class="timeline-item-content grow max-w-prose w-full ml-12 md:ml-24 overflow-hidden">
        @if (isMilestone(item)) {
          @if (isMobile()) {
            <ng-container
              [ngTemplateOutlet]="timelineEvent"
              [ngTemplateOutletContext]="{ $implicit: item }"
            />
          }
          <div class="flex text-center md:h-48 items-center justify-center">
            <p class="w-3/5 font-bold text-lg text-gray-200 dark:text-gray-300">
              {{ item.milestone }}
            </p>
          </div>
        } @else if (isDateRange(item)) {
          <app-card class="relative flex flex-col [&>*>*]:pb-9">
            @if (isMobile()) {
              <ng-container
                [ngTemplateOutlet]="timelineEvent"
                [ngTemplateOutletContext]="{ $implicit: item }"
              />
            }

            <app-markdown [value]="item.description" [options]="{ breaks: true }" />
          </app-card>
        }
      </div>
    </div>
  }
</div>

<ng-template #timelineEvent let-item>
  <div class="md:text-end md:me-2">
    <div
      class="flex mb-2 md:justify-end"
      [ngClass]="{ 'justify-center text-gray-200 dark:text-gray-300': isMilestone(item) }"
    >
      <p>
        {{ item.startDate | date }}
        @if (item.endDate) {
          &nbsp;-&nbsp;
          <span class="text-nowrap">{{ item.endDate | date }}</span>
        }
      </p>
    </div>
    @if (isDateRange(item)) {
      <p class="font-bold mb-4">{{ item.title }}</p>
    }
  </div>
</ng-template>
