<div class="relative">
  @for (item of items(); track $index) {
    <div
      class="flex"
      [class]="{
        'mb-8': $index !== items.length - 1,
        'mt-8': $index !== 0,
      }"
    >
      <div
        class="relative flex flex-col items-end mt-6 w-32"
        [class]="{
          'w-32': !isMobile(),
          'w-8': isMobile(),
          'text-gray-300': theme() === 'light',
        }"
      >
        @if (!isMobile()) {
          <ng-container
            [ngTemplateOutlet]="title"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />
        }
        <!-- icon delineating start of new item -->
        <div
          class="absolute z-[1] rounded-full"
          [class]="{
            'left-[0.3rem]': isMobile(),
            'right-[-3.7rem]': !isMobile(),
          }"
        >
          <app-icon iconName="arrow-right" />
        </div>
        <!-- timeline line connecting events -->
        <div
          class="absolute top-1 border-l-2 border-border-color"
          [class]="{
            'h-[calc(100%+4rem)]': $index !== items().length - 1,
            'h-[calc(100%-1.5rem)]': $index === items().length - 1,
            'right-[-3rem]': !isMobile(),
            'left-4': isMobile(),
          }"
        ></div>
      </div>

      <app-card
        class="max-w-prose w-full grow"
        [class]="{
          'ml-24': !isMobile(),
          'ml-12': isMobile(),
        }"
      >
        @if (isMobile()) {
          <ng-container
            [ngTemplateOutlet]="title"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />
        }
        {{ item.description }}
      </app-card>
    </div>
  }
</div>

<ng-template #title let-item>
  <div>{{ item.startDate | date }}</div>
  @if (item.endDate) {
    <div>- {{ item.endDate | date }}</div>
  }
</ng-template>
