<div class="relative">
  @for (item of items(); track $index) {
    <div
      class="flex"
      [class]="{
        'mb-8': $index !== items.length - 1,
        'mt-8': $index !== 0,
      }"
    >
      <div
        class="relative flex flex-col items-end mt-6 w-8 md:w-32 text-gray-300 dark:text-gray-400"
      >
        @if (!isMobile()) {
          <ng-container
            [ngTemplateOutlet]="title"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />
        }
        <!-- icon delineating start of new item -->
        <div class="absolute z-[1] rounded-full max-md:left-[0.3rem] md:right-[-3.7rem]">
          <app-icon iconName="arrow-right" />
        </div>
        <!-- timeline line connecting events -->
        <div
          class="absolute top-1 border-l-2 border-border-color max-md:left-4 md:right-[-3rem]"
          [class]="{
            'h-[calc(100%+4rem)]': $index !== items().length - 1,
            'h-[calc(100%-1.5rem)]': $index === items().length - 1,
          }"
        ></div>
      </div>

      <app-card class="max-w-prose w-full grow ml-12 md:ml-24">
        @if (isMobile()) {
          <ng-container
            [ngTemplateOutlet]="title"
            [ngTemplateOutletContext]="{ $implicit: item }"
          />
        }
        {{ item.description }}
      </app-card>
    </div>
  }
</div>

<ng-template #title let-item>
  <div>{{ item.startDate | date }}</div>
  @if (item.endDate) {
    <div>- {{ item.endDate | date }}</div>
  }
</ng-template>
