@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00a7f0;
  --bg-color: #fef7f7;
  --bg-color-2: #ace0f9;
  --title-color: black;
  --text-color: #1f2937;
  --border-color: #d1d5db;
  --success: #10b981;
  --error: #ef4444;
  --warning: #f59e0b;
  --info: #3b82f6;
}

.dark {
  --bg-color: #0f192a;
  --bg-color-2: #030005;
  --title-color: #d1d5db;
  --text-color: #9ca3af;
  --border-color: #374151;
}

@layer base {
  body {
    font-family: 'Montserrat', serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  main {
    position: absolute;
    width: 100vw;

    > :not(.topbar) {
      position: relative;
      z-index: 1;
    }

    > .topbar {
      position: sticky;
      z-index: 50;
    }

    section {
      padding-left: 8%;
      padding-right: 8%;
      width: 100%;
      height: 100%;
    }
  }

  #rubix-cube {
    position: absolute;
    top: 0;
    max-width: 2500px;
    z-index: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title-color);
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

@layer components {
  .layered-peaks-spacer > svg {
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  #landing,
  #tech-stack {
    background-color: var(--bg-color);

    background-image: radial-gradient(at 90% 5%, hsla(0, 90%, 55%, 0.21) 0px, transparent 50%),
      radial-gradient(at 43% 5%, hsla(240, 100%, 56%, 0.14) 0px, transparent 50%),
      radial-gradient(at 65% 58%, hwb(289 52% 0% / 0.24) 0px, transparent 50%),
      radial-gradient(at 11% 26%, hsla(216, 100%, 50%, 0.2) 0px, transparent 50%);
  }
  #skills {
    background-color: var(--bg-color);
    background-image: radial-gradient(at 90% 95%, hsla(0, 90%, 55%, 0.21) 0px, transparent 50%),
      radial-gradient(at 43% 95%, hsla(240, 100%, 56%, 0.14) 0px, transparent 50%),
      radial-gradient(at 65% 42%, hsla(289, 100%, 76%, 0.24) 0px, transparent 50%),
      radial-gradient(at 11% 74%, hsla(216, 100%, 50%, 0.2) 0px, transparent 50%);
  }
}
