@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0da6e8;
  --bg-color: #f1efef;
  --title-color: black;
  --text-color: #111827;
  --border-color: #d1d5db;
}

.darkmode {
  --bg-color: #0f192a;
  --title-color: #f3f4f6;
  --text-color: #d1d5db;
  --border-color: #374151;
}

@layer base {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  main {
    position: absolute;
    z-index: 1;
    width: 100vw;
  }

  #rubix-cube,
  #grid-room-3d {
    position: fixed;
    top: 0;
    left: 0;
  }

  #rubix-cube {
    z-index: 2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title-color);
  }

  main > * > section {
    padding: 0 1.75rem;
  }
  @media (min-width: 768px) {
    main > * > section {
      padding: 0 3.5rem;
    }
  }

  @media (min-width: 1024px) {
    main > * > section {
      padding: 0 5.25rem;
    }
  }

  @media (min-width: 1280px) {
    main > * > section {
      padding: 0 7rem;
    }
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

@layer components {
  .layered-peaks-spacer > svg {
    width: 100%;
    height: auto;
  }
}
